body {
    margin: 0;
    background: darkgray;
}

.sidenav {
    position: absolute;
    width: 20vw;
    height: 100vh;
    background: #c4c4c4;
}

h3 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 4px;
}

.container {
    border: 2px red solid;
    width: 18vw;
    height: 35vh;
    text-align: center;
    margin: 15px 10px;
}

input {
    margin-top: 20px;
    border: none;
    background: yellow;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
}

.btn {
    margin-top: 30px;
    background: tomato;
    color: yellowgreen;
    font-weight: 900;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.sidebox {
    border: 2px greenyellow double;
    width: 18vw;
    height: 50vh;
    text-align: center;
    margin: 15px 10px;
}

h1 {
    background: black;
    color: white;
    font-size: 1.8em;
    margin: 0;
    padding: 5px;
}

.date {
    padding: 2px;
    color: black;
    background: red;
}

.h1 {
    margin-top: 10px;
}

.side {
    position: absolute;
    width: 20vw;
    height: 100vh;
    left: 21vw;
    background: #e5e5e5;
}

.box {
    border: 1px black dotted;
    width: 18vw;
    height: 70vh;
    margin: 15px 10px;
    text-align: center;
}

img {
    margin-top: 10px;
}

.h11 {
    background: none;
    margin-top: 5px;
}

em {
    background: black;
}

.p {
    text-align: justify;
    margin: 0 30px;
    font-size: 9px;
}

.pp {
    text-align: justify;
    font-size: 11px;
    margin: 0 30px;
    background: url(../Vue-js/assets/images/logo.svg) no-repeat center chocolate;
    z-index: -3;
    font-weight: bolder;
    background-size: 150px;
}

.box1 {
    border: 5px darkblue solid;
    position: absolute;
    width: 56.5vw;
    height: 94vh;
    top: 2vh;
    left: 42vw;
    background: darkcyan;
}

.sideboxx {
    background-color: #c4c4c4;
    width: 16vw;
    height: 94vh;
}

.rectangle {
    background: #f4f4f4;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    left: 31px;
    top: 25px;
}

.ball {
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 51.5vw;
    
}

.sidebar {
    position: absolute;
    top: 0.1vh;
    left: 16vw;
    padding: 4px 10px 15px 5px;
    background: #e5e5e5;

}

.class {
    margin-right: 297px;
    background: darkgray;
}

.btn1 {
    border: none;
    background: darkgray;
    padding: 9px 4px;
    border-radius: 5px;
    font-weight: bolder;
}