body {
    margin: 0;
}

.sidenav {
    background: #c4c4c4;
    width: 20vw;
    height: 100%;
    position: absolute;
}

.rectangle {
    background: #e5e5e5;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    margin: 25px 30px;
}

.sidebar {
     display: flex;
     justify-content: space-between;
     padding: 40px;
     background: #f4f4f4;
}

input {
    margin-left: 20vw;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #c4c4c4;
}

.btn {
    background: #c4c4c4;
    border-radius: 5px;
    padding: 5px 7px;
    border: none;
    font-weight: bolder;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 15px;
}

.dash {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-transform: uppercase;
    margin-left: 22vw;
    font-family: monospace;
    font-size: 2em;
}

.sidebox {
    border: 1px black solid;
    text-align: center;
    width: 19vw;
    height: 40vh;
}

.buy {
    margin-top: 50px;
    padding: 15px 70px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 10vw;
    margin: 20px 200px;
}

.ball1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4c4c4;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.btn1 {
    border: none;
    padding: 15px 120px;
    border-radius: 5px;
    background: #c4c4c4;
    position: absolute;
    bottom: 15px;
    right: 320px;
}