body {
    margin: 0;
}

.sidenav {
    background: lightgray;
    width: 20vw;
    height: 100%;
    position: absolute;
}

.rectangle {
    width: 200px;
    height: 70px;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 25px 30px;
}

.sidebar {
    background: lightyellow;
    margin-left: 20vw;
    display: flex;
    justify-content: space-between;
    padding: 35px 10px;
}

input {
    padding: 15px 50px 15px 5px;
    background: #c4c4c4;
    border: none;
    border-radius: 5px;
}

.btn {
    padding: 15px 9px;
    border: none;
    border-radius: 5px;
    background: #c4c4c4;
    font-weight: bolder;
}

.btn1 {
    position: absolute;
    text-align: center;
    right: 30%;
    bottom: 20px;
    padding: 15px 80px;
    background: darkgray;
    border-radius: 5px;
    border: none;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgray;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

h3 {
    font-size: 2.5em;
    font-family: monospace;
    position: absolute;
    left: 21vw;
}

.ball1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgray;
    position: absolute;
    right: 20px;
    top: 22vh;
}

.sidebox {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 55vh;
    right: 32vw;
}

.box {
    text-align: center;
    border: 1px black solid;
    position: relative;
    left: 21vw;
    top: 35vh;
    width: 18vw;
    height: 45vh;
    margin: auto 25px;
}


.rectangle1 {
    width: 205px;
    height: 80px;
    border-radius: 5px;
    background: #c4c4c4;
    margin: 20px 20px;
}

.buy {
    margin-top: 100px;
    padding: 12px 70px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    font-weight: bolder;
}